# Ignore system files
.DS_Store
__MACOSX/

# Ignore environment files
.env
!.env.example

# Ignore Traefik certificates
traefik/certificates/

# Ignore Docker-related files
*.log
docker-compose.override.yml

# Ignore sensitive data
*.key
*.pem


# Ignore traefik yml files
traefik/*.yml